In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)

In [3]:
df = pd.DataFrame(np.random.randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [4]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [5]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [6]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [7]:
df['neu'] = df['W']+df['Z']

In [8]:
df

          W         X         Y         Z       neu
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [9]:
df.drop('neu',axis='columns')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [10]:
df

          W         X         Y         Z       neu
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [11]:
df.drop('neu',axis='columns',inplace=True)

In [12]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [13]:
df.drop('D',axis='index')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

In [14]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [15]:
df.iloc[2] # Index 2, Zeile C

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [16]:
df.loc['C','Y'] # Subset

0.5288134940893595

In [17]:
df.loc[['C','A'],['W','Y']]

          W         Y
C -2.018168  0.528813
A  2.706850  0.907969

In [18]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [19]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [20]:
df[df>0] # NaN Not a Number

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [21]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [22]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [23]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [24]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [26]:
df[(df['W']>0) & (df['Y']<0)]

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [27]:
df[(df['W']>0) | (df['Y']<0)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [28]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [29]:
neuind = "HH HE BY BW TH".split()

In [30]:
df['Länder'] = neuind

In [31]:
df

          W         X         Y         Z Länder
A  2.706850  0.628133  0.907969  0.503826     HH
B  0.651118 -0.319318 -0.848077  0.605965     HE
C -2.018168  0.740122  0.528813 -0.589001     BY
D  0.188695 -0.758872 -0.933237  0.955057     BW
E  0.190794  1.978757  2.605967  0.683509     TH

In [32]:
df.set_index('Länder')

               W         X         Y         Z
Länder
HH      2.706850  0.628133  0.907969  0.503826
HE      0.651118 -0.319318 -0.848077  0.605965
BY     -2.018168  0.740122  0.528813 -0.589001
BW      0.188695 -0.758872 -0.933237  0.955057
TH      0.190794  1.978757  2.605967  0.683509

In [33]:
df.set_index('Länder',inplace=True)

In [34]:
df

               W         X         Y         Z
Länder
HH      2.706850  0.628133  0.907969  0.503826
HE      0.651118 -0.319318 -0.848077  0.605965
BY     -2.018168  0.740122  0.528813 -0.589001
BW      0.188695 -0.758872 -0.933237  0.955057
TH      0.190794  1.978757  2.605967  0.683509

In [35]:
aussen = ['G1','G1','G1','G2','G2','G2']
innen = [1,2,3,1,2,3]
hier_index = list(zip(aussen,innen))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [36]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [39]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['a','b'])

In [40]:
df

             a         b
G1 1 -0.497104 -0.754070
   2 -0.943406  0.484752
   3 -0.116773  1.901755
G2 1  0.238127  1.996652
   2 -0.993263  0.196800
   3 -1.136645  0.000366

In [41]:
df.loc['G1']

          a         b
1 -0.497104 -0.754070
2 -0.943406  0.484752
3 -0.116773  1.901755

In [42]:
df.loc['G1'].loc[2]

a   -0.943406
b    0.484752
Name: 2, dtype: float64

In [43]:
df.loc['G1'].loc['a']

KeyError: 'a'